<form action='/celebrities/create' method='post'>
  <label for='celeb_name'>Name</label>
  <input type='text' name='name' id='celeb_name'>
  <br>
  <br>
  <label for='celeb_occ'>Occupation</label>
  <input type='text' name='occupation' id='celeb_occ'>
  <br>
  <br>
  <label for='celeb_catch'>Catch Phrase</label>
  <input type='text' name='catchPhrase' id='celeb_catch'>
  <br>
  <br>
  <button type="submit">Save celebrity</button>
</form>